/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// CSS reset ^^^^^

// Variables
$black: #000000;
$grey: #333333;
$red: #aa0b0f;
$white: #ffffff;
$light-grey: #666666;

$tablet: 900px;

//Mixins



//
body {
  background: $black;
  color: $white;
  // font-size: 20px;
}
//
// header {
//   height: 90px;
//
//   .back,
//   .logo,
//   .bell {
//     float: left;
//     display: inline-block;
//     box-sizing: border-box;
//   }
//
//   .back,
//   .bell {
//     width: 85%;
//     text-align: center;
//   }
//
//   .back {
//     font-size: 3rem;
//     padding-top: 1.5rem;
//     color: $red;
//   }
//   .bell {
//     font-size: 1em;
//     padding-top: 5rem;
//     color: $red;
//   }
//
//   .logo {
//     width: 40%;
//     height: 40px;
//     padding-top: 30px;
//
//     a {
//       text-align: center;
//       width: 100%;
//
//       img {
//         height: 90px;
//       }
//     }
//   }
// }
//
// .container {
//   background-color: none;
//   width: 100%;
//   margin: 0 auto;
//
//   .box {
//     width: 100%;
//     padding-top: none;
//
//     div {
//       width: 50%;
//       background: #0f0d0d;
//       opacity: 0.49;
//       color: white;
//       text-align: center;
//       vertical-align: middle;
//
//       a {
//         width: 30%;
//         color: #ffffff;
//         padding: 70%;
//         // position: center;
//       }
//     }
//
//     img {
//       width: 99%;
//       height: 320px;
//     }
//   }
// }
//
// .clearfix:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// Page structure

.header {
  width: 100%;
  height: 12%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    width: 70%;
  }

  .icon {
    font-size: 2em;
    color: $red;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.loginInfo {
  margin-top: 30%;
  width: 100%;
  height: 30%;
  background-color: $light-grey;
  .loginDetails {
    margin: 5%;
    padding: 0 5% 5% 5%;
    width: 100%;
    height: 50%;
  }
}

.inputTitle {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.inputName {
  margin: 10%;
  padding: .25em;
  width: 50%;
}





// .name{
// padding: ;
//   font-family: Arial, sans-serif;
// }






// Component styling

// .logo {
//   width: 70%;
// }
//
// .icon {
//   font-size: 2em;
//   color: $red;
// }




//Media queries

@media (min-width: $tablet) {
  // media querys go here
}
