/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; }
  @media screen and (min-width: 600px) {
    body, html {
      font-size: 150%; } }

h1 {
  padding-top: 2em; }

h2 {
  padding-bottom: .4em;
  font-size: .85em;
  font-weight: 500; }

p {
  font-size: .65em;
  font-weight: 100;
  line-height: 1.6em; }

hr {
  width: 80%; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  margin: 0 auto; }
  .header .logo {
    margin: 0 auto;
    padding: 0;
    width: 70%; }
  .header .icon {
    margin: 0 auto;
    font-size: 2em;
    color: #aa0b0f; }

.container {
  margin: 0 auto;
  width: 100%;
  height: 88%;
  display: flex; }

.containerOne {
  background-image: url("../img/fan.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain; }

.loginInfo {
  margin: 5%;
  padding: 10%;
  width: 100%;
  height: 60%;
  text-align: center; }
  .loginInfo .loginDetails {
    margin: 5%;
    padding: 5%; }

.inputTitle {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  display: block;
  font-size: 1em;
  font-weight: lighter;
  text-align: center; }

.inputField {
  margin-top: 2%;
  padding: .25em;
  font-size: .75em;
  font-weight: 600;
  color: #ded5d5; }

.inputName {
  width: 100%;
  margin-bottom: 12%; }

.enter {
  margin-top: 50%;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: underline;
  border: none; }
  @media screen and (min-width: 600px) {
    .enter {
      margin-top: 15%; } }

.containerTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 25%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; }

.boxOne {
  background-image: url("../img/restaurant.jpg"); }

.boxTwo {
  background-image: url("../img/wine.jpg"); }

.boxThree {
  background-image: url("../img/coffee.jpg"); }

.boxFour {
  background-image: url("../img/dessert.jpg"); }

.title {
  width: 50%;
  height: 40%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  text-align: center;
  line-height: 3em;
  border-radius: 2px; }
  @media screen and (min-width: 600px) {
    .title {
      line-height: 2em; } }

.containerThree, .containerFour {
  background-color: #363535;
  overflow: scroll; }

.containerTwo, .containerThree, .containerFour, .containerFive {
  display: none; }

.description {
  text-align: center;
  padding: 0 2em 0 2em; }

.hours {
  padding-top: .25em;
  font-size: .75em;
  font-weight: 100; }

.instructions {
  padding-top: 1em;
  color: #c98d8e;
  font-size: .75em;
  font-weight: 300; }

.choiceInstructions {
  padding: 1em 0 1em 0;
  font-size: .75em;
  font-weight: 100; }

.menuItem {
  margin: 2%;
  display: inline-flex;
  padding: 10%; }

.itemText {
  width: 80%;
  margin: 2%; }

.itemInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2%; }

.addButton {
  margin: 2%;
  width: 80%;
  padding: .5em 1.25em .5em 1.25em;
  font-size: .9em;
  background-color: #aa0b0f;
  color: #ffffff;
  border: none; }

.itemNumber {
  margin-bottom: 10%;
  padding: .5em 0 .5em 0;
  font-size: .75em;
  color: #ded5d5;
  width: 40%;
  text-align: center; }

.continueButton {
  margin: 15% 35% 15% 35%;
  padding: .5em 1.25em .5em 1.25em;
  font-size: .9em;
  background-color: #ded5d5;
  color: #ffffff;
  border: none; }

.itemsInCart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em; }

.changeButton {
  margin: 2%;
  padding: .5em 2em .5em 2em;
  font-size: .9em;
  background-color: #aa0b0f;
  color: #ffffff;
  border: none; }

.orderButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% 0 15% 0; }

.continueButtonTwo {
  margin: 2%;
  padding: .5em 1.25em .5em 1.25em;
  font-size: .9em;
  background-color: #ded5d5;
  color: #000000;
  border: none; }

.containerFive {
  background-color: rgba(0, 0, 0, 0.5); }

.popOver {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  background-color: #333333;
  background-image: url("../img/fan.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  text-align: center; }

.thankyou {
  margin-top: 10em; }

.recieved {
  margin-bottom: 3em;
  font-weight: 500; }

/*# sourceMappingURL=styles.css.map */
