/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// CSS reset ^^^^^

// Variables
$black: #000000;
$grey: #333333;
$red: #aa0b0f;
$white: #ffffff;
$light-grey: #666666;

$tablet: 600px;

//Mixins



//
body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: $black;
  color: $white;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  @media screen and (min-width: $tablet) {
    font-size: 150%;
  }
}

// Page structure

.header {
  width: 100%;
  height: 12%;
  margin: 0 auto;
  // padding-top: 3%;
  // padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin: 0 auto;
    padding: 0;
    width: 70%;
  }
  .icon {
    margin: 0 auto;
    font-size: 2em;
    color: $red;
    // padding-left: 5%;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 88%;
  display: flex;
}

//Page one
.containerOne {
  background-image: url("../img/fan.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.loginInfo {
  margin: 5%;
  padding: 10%;
  width: 100%;
  height: 60%;
  text-align: center;

  .loginDetails {
    margin: 5%;
    padding: 5%;
  }
}

.inputTitle {
  width: 100%;
  padding-top: 6%;
  padding-bottom: 6%;
  display: block;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
}

.inputField {
  margin-top: 2%;
  padding: .25em;
  font-size: .75em;
  font-weight: 600;
  color: $light-grey;
}

.inputName {
  width: 100%;
  margin-bottom: 12%;
}

.enter {
  margin-top: 50%;
  color: $white;
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: underline;
  border: none;
  @media screen and (min-width: $tablet) {
    margin-top: 15%;
  }
}

//Page two

.containerTwo {
  margin: 0 auto;
  width: 100%;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.boxOne{
   background-image: url('../img/restaurant.jpg');
}

.boxTwo{
  background-image: url("../img/wine.jpg");
}

.boxThree{
  background-image: url("../img/coffee.jpg");
}

.boxFour{
  background-image: url("../img/dessert.jpg");
}

.title {
  width: 50%;
  height: 40%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
  text-align: center;
  line-height: 3em;
  border-radius: 2px;
  @media screen and (min-width: $tablet) {
    line-height: 2em;
  }
}



// .containerTwo {
//   margin: 0 auto;
//   width: 100%;
//   height: 88%;
//   display: flex;
// }


//Page three


//Page four



// Images - use as background in CSS instead of <img> where possible
// Remember to set margins instead of doing everything with padding
// Remember display shit - block, etc
// Use ems for font, not rem
// Use percentages for other stuff and remember they're a percentage of their direct parent - not the page itself


//Media queries

// @media screen and (min-width: $tablet) {
//   body {
//     font-size: 200%;
//   }
// }
